.backgroundImage {
  background-image: url(/images/Homepage-background-ole\ portfolio-pixlr.jpg);
  height: 70vh;
  background-position: center;
  background-size: cover;
  box-shadow: rgba(30, 127, 218, 0.774) 1.95px 1.95px 2.6px;
}

body {
  background-color: #212529;
}

.h1Home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 80px;
}
.h1Home h1 {
  font-size: 20px;
  color: white;
}

.profileImage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 70px;
}

.dressImage {
  width: 200px;
  border-radius: 100%;
}

.introText {
  display: flex;
  justify-content: center;
  position: relative;
  top: 90px;
}

.shortDescription {
  color: white;
}

.h2Home {
  margin-top: 20px;
  margin-bottom: 30px;
}

.headerP {
  font-size: large;
  font-weight: bold;
  margin-bottom: 20px;
}

.mainContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ProjectWrapeer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.blogImage {
  width: 100%;
  border-radius: 10px;
}

.imageAndDescription1,
.imageAndDescription2 {
  background-color: #85ecec;
  width: 80%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 8px;
  margin-top: 40px;
}
.imageAndDescription1 p,
.imageAndDescription2 p {
  color: black;
}

.imageAndDescription1 {
  margin-bottom: 100px;
}

.borderHome {
  border-bottom: 2px solid white;
}

@media screen and (min-width: 756px) {
  .h1Home h1 {
    font-size: 40px;
  }

  .shortDescription {
    font-size: 25px;
  }

  .ProjectWrapeer {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 60px;
  }

  .blogImage {
    width: 500px;
    height: 200px;
  }

  .imageAndDescription1,
.imageAndDescription2 {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
  }

  .imageAndDescription1 {
    margin: 0;
  }

  .imageAndDescription2 {
    margin: 0;
  }

  .ProjectWrapeer {
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
}
.mainContent {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .imageAndDescription1,
.imageAndDescription2 {
    width: 60%;
  }

  .blogImage {
    width: 100%;
  }
}
.natureBackground {
  background-image: url(/images/nature-portfolio-pixlr.jpg);
  height: 50vh;
  background-color: black;
  background-position: center;
  background-size: cover;
}

.aboutHeader {
  display: flex;
  justify-content: center;
}
.aboutHeader h1 {
  margin-top: 100px;
  font-size: 40px;
}

.natureImage {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.woodImage {
  border-radius: 10px;
  height: 300px;
  width: 300px;
}

.loremTextAbout p {
  margin-left: 10px;
  padding: 35px;
}

.descriptionOle h3 {
  margin-left: 35px;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: rgba(0, 0, 0, 0.116);
  margin-top: 40px;
  margin-top: 50px;
  padding: 20px;
}

@media screen and (min-width: 756px) {
  .woodImage {
    width: 400px;
  }

  .aboutHeader {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  .aboutHeader h1 {
    font-size: 80px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span,
p {
  font-family: "Inconsolata", monospace;
  color: white;
}

h1,
h2,
h3 {
  font-family: "Outfit", sans-serif;
  color: white;
}

body {
  position: relative;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0px;
  width: 50px;
  height: 100vh;
  background: #2ca5ecc4;
  transition: 0.5s;
  overflow: hidden;
  z-index: 9;
}

.navigation:hover {
  width: 250px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation ul li {
  position: relative;
  list-style-type: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  display: flex;
  text-decoration: none;
  color: #0e0a0a;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 50px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color: #eeeeee;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.toggle {
  display: none;
}

.line {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
}

.toggle:hover {
  background: lightgreen;
}

.toggle:before {
  position: absolute;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

@media screen and (max-width: 756px) {
  .toggle {
    width: 50px;
    height: 50px;
  }

  .navigation {
    width: 250px;
    left: -250px;
    z-index: 9;
  }

  .open {
    left: 0px;
  }

  .toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.514);
  }
}
.footerHigh {
  margin-top: 40px;
  color: white;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footerHigh a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-size: 25px;
}
.footerLow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.footerLow p {
  font-size: 25px;
}

.footerWrap {
  background-color: #272c31;
}

/*# sourceMappingURL=output.css.map */
