.backgroundImage {
  background-image: url(/images/Homepage-background-ole\ portfolio-pixlr.jpg);
  height: 70vh;
  background-position: center;
  background-size: cover;
  box-shadow: rgba(30, 127, 218, 0.774) 1.95px 1.95px 2.6px;
}

.h1Home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 80px;
}
.h1Home h1 {
  font-size: 30px;
  color: white;
}

.profileImage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 70px;
}

.dressImage {
  width: 200px;
  border-radius: 100%;
}

.introText {
  display: flex;
  justify-content: center;
  position: relative;
  top: 90px;
}

.shortDescription {
  color: white;
}

.h2Home {
  margin-top: 20px;
  margin-bottom: 30px;
}

.mainContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ProjectWrapeer {
  display: flex;
  width: 70%;
  align-items: center;
  flex-direction: column;
}

.blogImage {
  width: 100%;
}

.imageAndDescription p {
  color: white;
}

.loremP {
  margin-bottom: 70px;
  margin-top: 10px;
  border-bottom: 2px solid white;
}

@media screen and (min-width: 756px) {
  .h1Home h1 {
    font-size: 40px;
  }

  .shortDescription {
    font-size: 25px;
  }

  .ProjectWrapeer {
    flex-direction: row;
  }

  .loremP {
    border-bottom: none;
  }

  .blogImage {
    width: 300px;
  }
}
.mainContent {
  background-color: #5b6f85;
}

body {
  background-color: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span,
p {
  font-family: "Inconsolata", monospace;
  color: white;
}

h1,
h2,
h3 {
  font-family: "Outfit", sans-serif;
  color: white;
}

body {
  position: relative;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 70%;
  background: #478686;
  transition: 0.5s;
  overflow: hidden;
  z-index: 9;
}

.navigation:hover {
  width: 250px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  list-style-type: none;
}

.navigation ul li :hover {
  background: lightgray;
}

.navigation ul li a {
  position: relative;
  display: block;
  display: flex;
  text-decoration: none;
  color: #0e0a0a;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .icon .fa {
  font-size: 24px;
}

.icon {
  color: black;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.line {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
}

.toggle:hover {
  background: lightgreen;
}

.toggle:before {
  position: absolute;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.navigation .open {
  width: 200px;
}

@media screen and (max-width: 756px) {
  .toggle {
    width: 50px;
    height: 50px;
  }

  .navigation {
    width: 50px;
    z-index: 9;
  }

  .navigation:hover {
    width: 75%;
  }
}
.footerHigh {
  margin-top: 40px;
  color: white;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footerHigh a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-size: 25px;
}
.footerLow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.footerLow p {
  font-size: 25px;
}

.footerWrap {
  background-color: #272c31;
}

/*# sourceMappingURL=output.css.map */
