.backgroundImage {
  background-image: url(/images/Homepage-background-ole\ portfolio-pixlr.jpg);
  height: 70vh;
  background-position: center;
  background-size: cover;
  box-shadow: rgba(30, 127, 218, 0.774) 1.95px 1.95px 2.6px;
}

body {
  background-color: #212529;
}

.h1Home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 80px;
  h1 {
    font-size: 20px;
    color: white;
  }
}

.profileImage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 70px;
}

.dressImage {
  width: 200px;
  border-radius: 100%;
}

.introText {
  display: flex;
  justify-content: center;
  position: relative;
  top: 90px;
}

.shortDescription {
  color: white;
}

//////////////////////
.h2Home {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerP {
  font-size: large;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.ProjectWrapeer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blogImage {
  border-radius: 10px;
  width: 100%;
}

.imageAndDescription1,
.imageAndDescription2 {
  p {
    color: white;
  }
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 8px;
  margin-top: 40px;
}

.imageAndDescription1 {
  margin-bottom: 50px;
}

.loremP {
  margin-top: 20px;
}
@media screen and (min-width: 956px) {
  .h1Home {
    h1 {
      font-size: 40px;
    }
  }

  .shortDescription {
    font-size: 25px;
  }

  .ProjectWrapeer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 60px;
  }

  .loremP {
  }

  .blogImage {
    width: 500px;
    height: 200px;
  }
  .imageAndDescription1,
  .imageAndDescription2 {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
  }

  .imageAndDescription1 {
    margin: 0;
  }

  .imageAndDescription2 {
    margin: 0;
  }
}

@media screen and (max-width: 1200px) {
  .imageAndDescription1,
  .imageAndDescription2 {
  }
}
