.backgroundImage {
  background-image: url(/images/Homepage-background-ole\ portfolio-pixlr.jpg);
  height: 70vh;
  background-position: center;
  background-size: cover;
  box-shadow: rgba(30, 127, 218, 0.774) 1.95px 1.95px 2.6px;
}

.h1Home {
  display: flex;
  justify-content: center;
  align-items: center;
}
